Django==3.1.12
django-allauth==0.41.0
django-crispy-forms==1.8.1
django-import-export==1.0.1
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-oauth==1.0.1
mysqlclient==2.0.3
oauth==1.0.1
oauthlib==2.1.0
Pillow==7.1.0
python-decouple==3.4
python-social-auth==0.3.6
requests==2.22.0
requests-oauthlib==1.0.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
