{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
  <link href="{% static 'compiler/css/theme.css' %}" rel="stylesheet" type="text/css"/>
</head>
 <div class="w3-container w3-teal" id="q_id">
  <h1> Question of the Day!!</h1>
    <ol>
      <strong>Question No. {{q_num.qno}} : </strong> 
      <p style="font-size:110%;"> {{q_num.text}} </p>
      <p><strong>SAMPLE INPUT :</strong></p>
      {{q_num.samplein}}<br><br>
      <p><strong>SAMPLE OUTPUT :</strong> </p>
      {{q_num.sampleout}} <br><br> 

    </ol>
</div> 
{% endblock content %}