{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
  <link href="{% static 'compiler/css/theme.css' %}" rel="stylesheet" type="text/css"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<div class="container">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="margin-bottom: 39.5px;left: 563px;">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" id="q_id2">

      <div class="item active">
        <img src="{% static 'compiler/image/frnt1.jpg' %}" alt="Language" style="width:100%;">
        <div class="carousel-caption">
          <h3 style="background:#000000ad">Different Languages</h3>
          <p style="background:#000000ad">Python,C++,Java and much more!!</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static 'compiler/image/frnt2.jpg' %}" alt="Questions" style="width:100%;">
        <div class="carousel-caption">
          <h3 style="background:#000000ad">Daily Questions</h3>
          <p style="background:#000000ad">Solve Questions Daily from difficulty easy to hard!!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="{% static 'compiler/image/frnt3.jpg' %}" alt="Tutorials" style="width:100%;">
        <div class="carousel-caption">
          <h3 style="background:#000000ad">Tutorials</h3>
          <p style="background:#000000ad">Learn New Language on the go!!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="w3-container w3-teal" id="q_id1">
  <b><h1> Question of the Day!!</h1></b>
  </div>
   <div class="w3-container w3-teal" id="q_id">
    <ol>
      <strong>Question No.{{q_num.qno}} :</strong>
      <p style="font-size:110%;"> {{q_num.text}} </p>
      <p><strong>SAMPLE INPUT :</strong></p>
      {{q_num.samplein}}<br><br>
      <p><strong>SAMPLE OUTPUT :</strong> </p>
      {{q_num.sampleout}} <br><br> 

    </ol>
</div> 








{% endblock content %}
