{% block cdn %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock %}

<form id = "data">
{% csrf_token %}
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 600px;
        height: 500px;
        bottom: 0%;
        left: 0%;
        border: 3px solid #73AD21;
    }
</style>

<div class="container">
    <div class="col-sm-12" id="header">
        <div class="col-sm-2">
            <h4 class="language-text">Select your language:</h4>
        </div>
        <div id="outer" class="col-sm-5" style="padding-top: 3px;">
            <select id="language" data-placeholder="Choose a Language..." class="" tabindex="1">
            <option value="4">C</option>
            <option value="34">Python</option>
            <option value="27">Java</option>
            <option value="10">C++</option>
        </select>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div id="spacing" class="col-sm-12">
        <div id="editor"></div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="col-sm-12" id="footer-compiler">
        <button id="btn" class="button-style">Run</button>
    </div>
</div>
<div class="container" id="outermost">
        <div class="container innermost">
            <div class="checkbox">
                <label><input id="custom-input-checkbox" type="checkbox">Use custom input to test the code</label>
            </div>

            <h4>Testcases:</h4>
            <textarea id="stdin" placeholder="Enter your testcases here..." ></textarea>
        </div>
        <div class="container innermost">
            <div id="output" class="well" style="background-color: white;border-color: black">
                <h5>Output:</h5>
            </div>
    </div>

</div>
</form>

{% load static %}
<script src="{% static 'compiler/src-min/ace.js' %}" type="text/javascript" charset="utf-8"></script>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/c_cpp");
    editor.setShowPrintMargin(false);
    $('select').select2();

    $("#language").change(function () {
        var l =($("select option:selected").text());
        if (l=="python" || l=="python3")
            {editor.getSession().setMode("ace/mode/python");}
        else if (l=="c"){
            editor.getSession().setMode("ace/mode/c_cpp");
        }
        else{
            editor.getSession().setMode("ace/mode/"+l);
        }


    });

     $('#custom-input-checkbox').click(function () {

        $("#stdin").slideToggle();

    });

    $(document).on("submit","#data" ,function (e) {
            e.preventDefault();
            $("#output").html("Submitting..");
            // disable submit btn
            $("#btn").prop('disabled', true)
        $.ajax(
            {
                type: "POST",
                url : "{% url 'result' %}",
                data: {

                    script: editor.getValue(),
                    lang: $("select option:selected").text(),
                    stdin:$("#stdin").val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

                },


                success: function (output) {
                    // enables submit btn
                    $("#btn").prop('disabled', false)
                    var str = JSON.parse(output);
                    //var str = (output.output).toString();
                    //str=decodeURIComponent(escape(str));
                 $("#output").html(str);
                },

                error:function (err) {
                    // enables submit btn
                    $("#btn").prop('disabled', false)
                    $("#output").html("Something went wrong please try again");
                },
            })


    })


</script>