{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Codeara</title>

</head>

<body>

    <script>SEC_HTTPS = true;
    SEC_BASE = "compilers.widgets.sphere-engine.com"; 
    
    (function(d, s, id){ SEC = window.SEC || (window.SEC = []);
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; 
    js.src = (SEC_HTTPS ? "https" : "http") + "://" + SEC_BASE + "/static/sdk/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);   
    }(document, "script", "sphere-engine-compilers-jssdk"));
    
    </script>

    <div class="sec-widget" data-widget="9e1e25c224b32a941cccc468d284e148"></div>

    {% block content %}
    {% endblock %}

</body>

</html>