{% extends "account/base.html" %}
<br><br>
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="container login-signup-container" id="login_cont">
    <h1>{% trans "Sign In" %}</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="links">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
                <div class="social-login-bar">
                    <div class="social-login-text"></div>
                    <a href="/accounts/google/login/?process=login">
                        <i class="fa fa-3x fa-google"></i>
                    </a>
                    <a href="/accounts/github/login/?process=login">
                        <i class="fa fa-3x fa-github"></i>
                    </a>
                    <a href="/accounts/facebook/login/?process=login">
                        <i class="fa fa-3x fa-facebook"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
