{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <div class="container login-signup-container" id="login_cont">
            <h1>{% trans "Password Management" %}</h1>
            <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {% for field in form %}
            <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <br>
        <button class="btn login-signup-button" type="submit">{% trans 'Reset Password' %}</button>
        <br><br>
            </form>
        </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}