{% extends 'account/base.html' %}


{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Password Management" %}{% endblock %}
{% block content %}
    <div class="container login-signup-container" id="login_cont">
        <h1>{% trans "Password Management" %}</h1>
        <form method="post">
        {% csrf_token %}
        <p>Your Password is now changed</p>
        {% for field in form %}
        <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <br>
        </form>
    </div>
{% endblock %}