{% extends 'account/base.html' %}


{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block content %}
    <div class="container login-signup-container" id="login_cont">
        <h1>{% trans "Sign Up" %}</h1>
        <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% for field in form %}
        <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <br>
        <button class="btn login-signup-button" type="submit">{% trans 'Sign Up' %}</button>
        
        <br>
        </form>
    </div>
{% endblock %}